/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

body {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(../public/resources/identity/bkg.gif);
  background-size: auto 100vh;
  color: #fcc23b;
  font-family: "M PLUS 1 Code", monospace;
  overflow: hidden;
  user-select: none;
}

.japanese {
  font-family: "M PLUS 1 Code", monospace;
  font-size: 3rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Floating card */
#card {
  background-color: black;
  border: 1px solid #fcc23b;
  position: absolute;
  width: 40vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3vh 4vw;
  box-shadow: 0 0 8px #fcc23b;
  font-size: 1.1rem;
  text-align: center;
}

#instructions {
  width: 42vw;
  text-align: left;
}
/* Input box */
#solution {
  width: 40vw;
  height: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vw;
  font-size: 1.6669rem;
  font-family: "M PLUS 1 Code", monospace;
}
#solution::placeholder {
  color: #fcc23b;
  font-size: 1.6669rem;
}
#solution:focus {
  outline: none;
}
button {
  padding: 1vh 1vw;
  font-size: 1rem;
}
/* Close button */
.close {
  border: 1px solid #fcc23b;
  float: right;
  margin: 1vh 1vw;
  aspect-ratio: 1/1;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}
#solution:hover,
button:hover,
.close:hover {
  box-shadow: 0 0 8px #fcc23b;
}
button:active,
.close:active {
  color: #fc9b3b;
  box-shadow: 0 0 8px #fc9b3b;
  border: 1px solid #fc9b3b;
}
#solution,
button {
  background-color: black;
  color: #fcc23b;
  border: 1px solid #fcc23b;
  font-family: "M PLUS 1 Code", monospace;
}
#submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  display: block;
  min-height: 1.6669rem;
  margin-top: 3vh;
}

/* Report modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}
/* Modal content */
#modal-content {
  /* margin: 5vh auto; */
  padding: 2.5vh 2.5vw;
  width: 100vw;
  height: 100vh;
}
